*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .nav {
    padding: 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
  }

  .navbarul {
    list-style: none;
    display: inline-flex;
    padding: auto, 0px;



  }

  
  .navbarli {
    margin: 10px 15px;
    font-size: 30px;
    color: white;
  }

  .name {
    font-size: 60px;
    display: inline;
    color: white;
  }

  .logopic {
    width: 70px;
    height: auto;
    padding: 20px 10px;
  }

  .logo-name {
    display: flex;

  }



  