*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.profilepic {
    display: flex;
    margin:  auto;
}

.profilepic:hover {
    opacity: 0.8;
    transition: .5s ease;
  }

  p {   
    margin: 40px auto 20PX;
    background-color: rgba(40, 42, 43, 0.6);
    padding: 40px;
    color: white;
    ;
  }

  /* h2 {
    text-align: center;
    font-size: 2rem;
    margin: 20px auto;
    text-decoration: none;
    color: black;
  } */


  .page-header {
    text-align: center;
    font-size: 50px;
    margin: 20px auto;
    text-decoration: none;
    color: black;
}