*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.profilepic {
    display: flex;
    width: 20%;
    margin:  auto auto 10px;
}

.profilepic:hover {
    opacity: 0.8;
    transition: .5s ease;
  }

  /* p {   
    margin: 40px auto 20PX;
    background-color: rgba(40, 42, 43, 0.6);
    padding: 40px;
    color: white;
    ;
  } */

  /* h2 {
    text-align: center;
    font-size: 2rem;
    margin: 20px auto;
    text-decoration: none;
    color: black;
  } */


  /* .page-header {
    text-align: center;
    font-size: 50px;
    margin: 20px auto;
    text-decoration: none;
    color: black;
} */

.profile {
  display: flex;
}

.about-text {
  font-size: 30px;
  margin: 10px;
  text-align: justify;
  padding: 10px 20px;
}