*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  .page-wrapper{
	display: flex;
	flex-direction: column;
	height: 100vh;
  }
  
  main{
	flex-grow: 1;
	padding: 0 5%;
	background-image: url(../../assets/background.png);
	min-height: auto;
  }
  
  h1 {
	font-family: optima;
	font-size: 35px;
	text-decoration: underline;
  }

