

.logo {
	cursor: pointer;
	list-style: none;
	font-size: 40px;
	color: white;
}

.logo:hover {
	opacity: 0.5;
}

.footer {
justify-content: center;
display: flex;
background-color: black;
border-top: 1px solid white;
}

